.sidebar-h1:hover {
    color: inherit;
}

.sidebar-h1 { 
    padding: 0 24px 0 0px;
    font-family: var(--heading-font);
    font-style: normal;
    line-height: 140%;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    color: inherit;
    
}
.sidebar-h2 {  
    color: inherit;
}
.sidebar-h2 {
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding: 10px 24px 10px 17px !important;
    margin-left: 6px !important;
    margin: 0px;
    color: inherit;
}

.sidebar {
    width: 267px;
    margin: 0;
    background-color: var(--primary);
    color: var(--secondary);
    order: -1; /* default is 0 */
    overflow-y: hidden;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    flex-shrink: 0;
    height: calc(100vh - 68px);
}

.site-title {
    margin-top: 10px;   
    margin-right: 20px;
    margin-bottom: 36px;
    margin-left: 24px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--sidebar-primary);
    font-size: 24px;
    font-weight: 500;
    padding: 0px;
}
.sidebar-button {
    padding: 0px;
    margin: 0px;
}

.sidebar-card {
    background-color: var(--primary) !important;
    border: 0px !important;
    overflow: auto;
    width: inherit;
    height: inherit;
    padding: 18px 24px;
    
}

.sidebar-card .sidebar-h1 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 1em;
}
#sidebar-btn {
    display: none;
}

.navicon {
    font-size: 22px;
    margin-right: 16px;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
}  

.nav-link{
    margin-left: 0px; 
    padding: 0px 0px !important;
    display: flex !important;
    align-items: center;
    justify-content: start;
    color: var(--secondary);
}

.nav-toc ul {
    list-style-type:  none !important;
    padding-inline-start: 0;
    
}

.nav-toc li {
    line-height: 170%;
}

.nav-toc {
    text-align: left;
    margin: 0;
    padding: 0;
}
.nav-toc a {
    color: var(--grey600);
}

.nav-toc a:hover {
    color: var(--grey800);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--grey800);
}

.nav-collapse{
    display: none;
}
.nav-collapse.show{
    display: block;
}

.nav-highlight{
    color: var(--sidebar-primary);
}   

#logo{
    width: 250px;
    align-self: center;
}
#logohide{
    display: none;
}
.nav-highlight{
    color: var(--secondary) !important;
    
}

.nav-highlight.mainitem{
    color: var(--secondary) !important;
}


.sidebar-h2.nav-highlight.subitem{
    border-left: 2px solid var(--accent);
}

.sidebar-h2.subitem{
    border-left: 2px solid var(--sidebar-primary);
}

#logo-collapse-btn {
    background-color: transparent;
    padding: 0px;
    padding-right: 30px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  
    flex-direction: row;
    justify-content: left;
    border: none;
    text-align: left;
    border-right: 1px solid var(--primary);
}

#logo-collapse-btn:focus {
    outline: none;
}

#logo-collapse-btn:hover {
    cursor: default;
}

.footer-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  
    flex-direction: column;
    padding: 16px 16px;
}
.footer-link{
    color: var(--grey600);
    font-size: 12px;
}



@media (max-width: 1000px) {
    .sidebar{
        display: none;
    }
    .sidebar.show{
        display: flex;
        width: 100vw;
    }
    .content-header{
        width: 100vw;
    }

    .icon-menu.mobile{
        font-size: 32px;
        color: var(--grey600);
        padding: 8px 0px 8px 0px;
    }

    #logo-collapse-btn{
        visibility: hidden;
    }
    #sidebar-btn {
        display: unset;
        position: fixed;
        z-index: 2;
        top: 16px;
        left: 12px;
        width: 32px;
        height: 32px;
        border: 0px;
        border-radius: 16px;
        background-color: transparent;
        padding: 0px;
        margin: 0px 8px;
    }
    #sidebar-btn:focus {
        outline: none;
    }
}