.sidebar-h1:hover {
    color: var(--primary);
}

.sidebar-h1 {
    display: flex !important;
    align-items: center;
    justify-content: start;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding: 8px 16px 8px 16px !important;
    margin: 0px;
    color: #969DAC;
    overflow-y: auto;
}

.sidebar-h2 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding: 8px 16px 8px 27px !important;
    margin: 0px;
    color: #969DAC;
    overflow-y: auto;
}

.sidebar {
    width: 225px;
    min-width: 225px;
    margin: 0;
    background-color: var(--secondary);
    color: var(--primary);
    order: -1; /* default is 0 */
    overflow-y: hidden;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.sidebar-button{
    margin: 0;
    padding: 8px 0px 8px 0px !important;
}

.sidebar-card {
    background-color: var(--secondary) !important;
    border: 0px !important;
    overflow: auto;
    width: inherit;
    height: inherit;
}