.content-header{
    margin: 0;
    padding: 12px 70px 12px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: left;
    width: 100vw;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-primary);
    height: 56px;
    min-height: 56px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    
}

.content-header-nav {
    justify-content: flex-end;
    margin-left: 1em;
}

.content-header .nav-link {
    color: var(--primary);
    border-radius: 2px;
    margin: 0 1em;

}

.content-header .nav-link .sidebar-h1 {
    padding: 8px 16px ;

}

.content-header .nav-link:hover, .content-header .nav-link.active  {
    background-color: #2E3440;
    color: var(--primary);
}

.search-icon {
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    background-color: var(--primary);
    border-radius: 3px;
}

.h-div.search{
    margin: 0px 0px;
}
.top-nav-text{
    margin: 0px 0px 0px 4px; 
}
#search-input-modal{
    padding: 0px !important;
    margin: 0px;
    width: min(500px,100vw - 660px);
    height: 100vh;
    position: absolute;
    left: 0;
}

#search-input-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px;
}

#search-button{
    padding: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--primary);
    border: 1px solid var(--grey-head);
    border-radius: 3px;
    flex-shrink: 1;
}

#search-button:hover{
    cursor: text;
    color: var(--grey600) !important;
    margin: 0px;
    padding: 0px;
}

#search-button:focus{
   border: none;
   outline: none;
   margin: 0px;
   padding: 0px;
}
.search-button-text{
    display: flex !important;
    align-items: center;
    justify-content: start;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    margin: 0px;
    padding: 0px;
    color: var(--grey600);
    overflow-y: auto;
}
.search-button-text:hover{
    cursor: text;
    color: var(--secondary) !important;
}

#search-input-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--primary);
    border: 1px solid var(--grey-head);
    border-radius: 3px;
    flex: 1 1 0px;
    top: 12px;
    min-width: min(500px,100vw - 660px);
    max-width: min(500px,100vw - 660px);
    margin-left: auto;
    margin-right: inherit;
    position: relative;
    top: 0;
}


#search-input-div-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--primary);
    border: 1px solid var(--grey-head);
    border-radius: 3px;
    flex: 1 1 0px;
    min-width: min(500px,100vw - 660px);
    max-width: min(500px,100vw - 660px);
    left: 0;
}

.modal-dialog {
    right: 72px;
    left: 0px;
    margin: 0 !important;
}


#search-input {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    padding: 8px;
    outline: none;
    box-shadow: none;
    -webkit-appearance:none;
}

#search-input:focus {
    -webkit-appearance: none;
    outline-width: 0;
    /* border-bottom: 2px solid var(--accent); */
}

#search-results{
    background-color: var(--primary);
    color: var(--primary);
    padding: 8px;
    max-height: 600px;
    overflow-y: auto;
    z-index: 2;
    border: 1px solid var(--grey-head);
    border-radius: 0px 0px 3px 3px;
    position: fixed;
    top: 48px;
    bottom: auto;
    right: auto;
    min-width: min(500px,100vw - 660px);
    max-width: min(500px,100vw - 660px);
}

#search-results:empty{
   display: none;
}

.search-result-item{
    color: var(--grey800);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 4px;
}

.search-result-item:hover{
    color: var(--secondary);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.search-result-title{
    margin: 0px;
    color: inherit
}

.search-result-title:hover{
    color: inherit
}

.search-result-section{
    margin: 0px;
    text-transform: capitalize;
}

#search-footer{
    color: var(--grey600);
    background-color: var(--secondary);
    padding: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;    
}

.content-header-nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
}
.content-header-nav-link{
    padding: 8px;
    color: var(--grey800);
    font-size: 14px;
    align-items: baseline;
    font-family: var(--body-font);
}

.arrow-nav{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

#search-btn-mobile {
    display: none;
    position: fixed;
    z-index: 1060;
    top: 12px;
    left: 60px;
    width: 32px;
    font-size: 32px;
    line-height: 32px;
    border: 0px;
    border-radius: 16px;
    background-color: transparent;
    padding: 0px;
    margin: 0 8px;
    color: var(--grey600);
}

@media (max-width: 1000px) {
    .content-header-nav{
        width: 100%;
        order: 2;
    }
    .content-header .nav-link {
        margin: 0 6px
    }
    .content-header .nav-link .sidebar-h1{
        padding: 6px 12px;
    }
    #search-input-div {
        display: none;
    }
    #search-input-div {
        position: relative;
        height: 48px;
    }
    #search-input-div, #search-input-div-inner, #search-results, #search-input-modal, #search-input, #search-button {
        min-width: calc(100vw - 102px);
        max-width: calc(100vw - 102px);
        width: calc(100vw - 102px);
        min-height: 48px;
        order: 1;
    }
    #search-results {
        position: fixed;
        left: 70px;
    }
    .content-header{
        padding: 12px 32px 12px 70px;
        justify-content: stretch;
    }
    #logo {
        display: none !important;
    }
    #search-btn-mobile {
        display: inline;
    }
    #search-btn-mobile:focus {
        outline: none;
    }
    #search-button {
        display: none;
    }
}

