.content {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 14;
}

.text-area{
    overflow-y: scroll;
    padding: 32px 72px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    padding: 0px;
    margin: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    padding-right: 36px;
    min-width: 300px;
}

.example-area {
    margin-top: 72px;
    margin-bottom: 72px;
    padding-left: 36px;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex: 1 1 0px;
    min-width: 300px;
}

.highlight{
    border: 0px;
    padding: 16px;
    background-color: var(--secondary);
    max-height: 50vh;
    overflow: auto;
    width: inherit;
}

.example{
    top: 0px;
    bottom: 0px;
    max-height: inherit;
    background-color: var(--secondary);
    max-height: 70vh;
    min-width: 300px;
    width: inherit;
}

.scroll{
    max-height: inherit;
    overflow: auto;
    max-width: 500px;
}
