<div class="content-header {{if .root.Site.Menus.main}}hasmenu{{end}}">
    {{ $logo:= site.Params.logo }}
    
    <a href='/'>
        <img id="logo{{if site.Params.show_title}}hide{{end}}" src="{{ $logo }}" alt="{{ site.Title }}"> 
        {{if site.Params.show_title}}
        <div class="site-title">
            <h3 class="site-title-text"> 
                {{.Site.Title}}
            </h3>
        </div>
        {{end}}
    </a>
    
    
    
    {{ $curSection := .root.Section}}
    <div class='content-header-nav'>
    {{ range .root.Site.Sections }}
        <a class='nav-link {{if eq $curSection .Section }}active{{end}}' href="{{ .RelPermalink }}">
            <h3 class='sidebar-h1 mainitem content-tab'>{{ .Title | plainify | humanize }}</h3>
        </a>
    {{ end }}
    </div>


    <div id="search-input-div">
        <button class="search-button" id="search-button" data-toggle="modal" data-target="#search-input-modal">
            <h3 class="search-button-text">
                <i class="icon-search search-icon"></i>
                Search Documentation
            </h3>
        </button>
    
        <div class="modal search" id="search-input-modal">
            <div id="search-input-modal-dialog" class="modal-dialog">
                <div id="search-input-div-inner" class="modal-content">
                    <input id="search-input" type="text" placeholder="" name="search" autocomplete="off">
                    <span class="focus-border"></span>
                    <section id="search-results" class="search"></section>
                </div>
            </div>
        </div>

        
    </div>
    <button id="search-btn-mobile">
        <i class="icon-search mobile" data-toggle="modal" data-target="#search-input-modal"></i>
    </button>
</div>

