body{
    background-color: var(--white);
    display: flex;
    align-items:stretch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 140%;
    margin: 0;
    padding: 8px 0px;

}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    margin: 0;
    padding: 8px 0px;

    }

h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    margin: 0;
    padding: 8px 0px;
}

h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    padding: 8px 0px;
}

p {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.img-fluid{
    padding: 27px 8px !important;
}

.h-div{
    height: -1px;
    border: 1px solid var(--nav-highlight);
    left: 8px;
    right: 8px;
    margin: 24px 0px;
}

/* .scroll-box {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    bottom: 0px;
} */

.img-fluid {
    padding: 20px;
}

.footer {
    padding: 0px;
    margin: 0;
}

.navicon {
    font-size: 18px;
    margin-right: 16px;
}  

.nav-list{
    padding-left: 20px; 
}
.nav-link{
    margin-left: 0px; 
    padding: 0px 0px !important;
    display: flex;
    flex-direction: row;
}
.nav-collapse{
    display: none;
}
.nav-collapse.show{
    display: block;
}

.highlight{
    /* border-right: 5px solid var(--accent); */
    background-color: var(--nav-highlight);
    color: var(--primary) !important;
}

