<div class="sidebar">
    {{ $logo:= site.Params.logo }}
    <img class="img-fluid" src="{{ $logo | absURL }}" alt="{{ site.Title }}">

    <input id="search-input" type="text" placeholder="" name="search">

    <section id="search-results" class="search"></section>
    <br></br>


    {{ template "nav_item" .}}
</div>

{{ define "nav_item" }}
{{ $curSection := .Section}}
{{ $curUID := .File.UniqueID }}
{{ $curPage := .}}

<div class="card sidebar-card">
{{ range (where .Site.Pages "Type" "product") }}
    <div class="collapse-header">
        <a class="nav-link" href="{{.Permalink}}"> 
            <h3 class="sidebar-h1 {{if eq $curUID .File.UniqueID}}highlight{{end}}">{{ .Title }}</h3>
        </a>
    </div>
    
    <div class="collapse {{if $curPage.IsDescendant . }}show{{end}}">
        <div class="nav-list">
            {{ range .Pages }}
                <a class="nav-link" href="{{.Permalink}}"> 
                    <h3 class="sidebar-h1 {{if eq $curUID .File.UniqueID}}highlight{{end}}">{{ .Title }}</h3>
                </a>
            {{ end }}                
        </div>
    </div>
{{ end }}
</div>
{{ end }}