<div class="sidebar">
    {{ $logo:= site.Params.logo }}
    <a href="{{.Site.Home.Permalink}}" >
        <img class="img-fluid" src="{{ $logo | absURL }}" alt="{{ site.Title }}"> 
    </a>

    
    <button class="search-button" data-toggle="modal" data-target="#search-input-modal" onclick='setFocusToTextBox()'>
        <h3 class="sidebar-h1">
            <i class="icon-search navicon"></i>
            Find anything
        </h3>
    </button>

    <div class="modal fade search" id="search-input-modal">
        <div id="search-input-modal" class="modal-dialog">
            <div id="search-input-div" class="modal-content">
                <input id="search-input" type="text" placeholder="" name="search">
                <div class="h-div search"></div>
                <span class="focus-border"></span>
                <section id="search-results" class="search"></section>
                <div id="search-footer">
                    <i class="icon-search navicon"></i> Search Documentation...
                </div>
            </div>
        </div>
    </div>
   

    <div class="h-div"></div>


    {{ template "nav_item" .}}
</div>

{{ define "nav_item" }}
{{ $curSection := .Section}}
{{ $curUID := .File.UniqueID }}
{{ $curPage := .}}

<div class="card sidebar-card">
{{ range (where .Site.Pages "Type" "product") }}
    <div class="collapse-header">
        <a class="nav-link" href="{{.Permalink}}"> 
            <h3 class="sidebar-h1 {{if eq $curUID .File.UniqueID}}highlight{{end}}" 
            id="{{if eq $curUID .File.UniqueID}}scrollto{{end}}">
                <i class="{{ .Params.Icon }} navicon"></i>
                {{ .Title }}
            </h3>
        </a>
    </div>
    
    <div class="collapse {{if $curPage.IsDescendant . }}show{{end}}">
        <div class="nav-list">
            {{ range .Pages }}
                <a class="nav-link" href="{{.Permalink}}"> 
                    <h3 class="sidebar-h2 {{if eq $curUID .File.UniqueID}}highlight{{end}}" 
                    id="{{if eq $curUID .File.UniqueID}}scrollto{{end}}">
                        {{ .Title }}
                    </h3>
                </a>
            {{ end }}                
        </div>
    </div>
{{ end }}
</div>
{{ end }}